#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        /* Rectangle / window management combos on Layer 6 (DevNumRow) */
    };

    behaviors {
        hrt: hrt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-caps-word";
            label = "NEW_BEHAVIOR";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE MINUS DOT>;
        };

        left_caps_lock_tap_dance: left_caps_lock_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_CAPS_LOCK_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };

        right_caps_lock_tap_dance: right_caps_lock_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_CAPS_LOCK_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_SHIFT>, <&caps_word>;

            tapping-term-ms = <200>;
        };
    };

    macros {
        closeHtml: closeHtml {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp GT>;
            label = "CLOSEHTML";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            // Base (your current layout, unchanged)

            bindings = <
&kp ESCAPE                 &kp Q                &kp W            &kp F            &kp P              &kp B        &kp J        &kp L               &kp U             &kp Y             &kp SQT       &kp BSPC
&kp LG(SPACE)              &hrt LEFT_CONTROL A  &hrt LEFT_ALT R  &hrt LEFT_GUI S  &hrt LEFT_SHIFT T  &kp G        &kp M        &hrt RIGHT_SHIFT N  &hrt RIGHT_GUI E  &hrt RIGHT_ALT I  &hrt RCTRL O  &kp SQT
&left_caps_lock_tap_dance  &kp Z                &kp X            &kp C            &kp D              &kp V        &kp K        &kp H               &kp COMMA         &kp DOT           &kp FSLH      &right_caps_lock_tap_dance
                                                                 &lt 2 ESCAPE     &lt 2 SPACE        &lt 3 TAB    &lt 1 ENTER  &lt 2 BACKSPACE     &lt 4 DEL
            >;
        };

        Number {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp N0  &trans    &trans  &trans  &trans
            >;
        };

        Symbol {
            bindings = <
&trans                 &kp GRAVE        &kp TILDE       &kp HASH      &kp AMPERSAND  &kp PIPE      &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS
&kp RIGHT_PARENTHESIS  &kp EXCLAMATION  &kp UNDERSCORE  &kp COLON     &kp EQUAL      &kp DOLLAR    &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &kp SEMICOLON      &kp COLON
&kp SQT                &kp PERCENT      &kp QUESTION    &kp ASTERISK  &kp PLUS       &kp BSLH      &kp SLASH    &kp MINUS             &kp LESS_THAN          &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp FSLH
                                                        &trans        &trans         &trans        &trans       &trans                &trans
            >;
        };

        Navigation {
            bindings = <
&trans                    &trans  &trans  &kp LG(X)      &kp LG(C)  &kp LG(V)    &none               &kp PAGE_DOWN   &kp UP_ARROW  &kp PAGE_UP  &none          &none
&trans                    &trans  &trans  &kp LS(LG(Z))  &kp LG(Z)  &kp LG(A)    &kp LA(LEFT_ARROW)  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT    &kp LA(RIGHT)  &trans
&kp LS(LG(LC(NUMBER_4)))  &trans  &trans  &kp LG(X)      &kp LG(C)  &kp LG(V)    &trans              &trans          &trans        &trans       &trans         &trans
                                          &trans         &trans     &trans       &trans              &trans          &trans
            >;
        };

        Function {
            bindings = <
&trans  &kp F13  &kp F7  &kp F8  &kp F9  &trans    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2  &trans  &trans  &bt BT_CLR
&trans  &kp F12  &kp F4  &kp F5  &kp F6  &trans    &trans         &bt BT_PRV     &bt BT_NXT    &trans  &trans  &bt BT_CLR_ALL
&trans  &kp F11  &kp F1  &kp F2  &kp F3  &trans    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_SEL 2  &trans  &trans  &trans
                         &trans  &trans  &trans    &trans         &trans         &trans
            >;
        };

        /*
         * Layer 6: DevNumRow (repurposes your old Music layer)
         * - Restores "number-row" muscle memory for coding:
         *   Left: 1 2 3 4 5  |  Right: 6 7 8 9 0
         * - Hold Shift on base (home-row shift) to get !@#$%^&*()
         * - Your existing layer-6 combos remain on this layer.
         */
    };
};
